<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-pagelines" aria-hidden="true"> Grocery Shop</i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
              {{ cart.totalItemsCount }}
            </span>
          </a>
        </li>
        <ng-template #anonymousUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">SignUp</a>
          </li>
        </ng-template>
        <li ngbDropdown *ngIf="auth.isLoggedIn(); else anonymousUser" class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ auth.currentUser.username }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <ng-container *ngIf="auth.currentUser.isAdmin">
              <!-- <a class="dropdown-item" routerLink="/my/orders">My Orders</a>
              <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a> -->
              <a class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            </ng-container>
            <a class="dropdown-item" (click)="onLogout()">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
